# Profit prediction using Arima,Sarima,LSTM (A comparision)
Research paper - https://ieeexplore.ieee.org/document/9964190 

dataset(2m) - https://excelbianalytics.com/wp/downloads-18-sample-csv-files-data-sets-for-testing-sales/

Necessery libraries

In [15]:
# !pip install pandas matplotlib seaborn numpy torch

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import torch 
import torch.nn as nn
import torch.optim as optim

In [11]:
sales_data = pd.read_csv('Data\sales_data.csv')

In [12]:
sales_data.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Australia,Meat,Online,C,4/4/2011,451691138,5/23/2011,4300,421.89,364.69,1814127.00,1568167.00,245960.00
1,Asia,Tajikistan,Personal Care,Online,L,7/12/2018,144177377,8/1/2018,4145,81.73,56.67,338770.85,234897.15,103873.70
2,Sub-Saharan Africa,Mozambique,Cosmetics,Online,H,7/6/2011,982716166,7/17/2011,6407,437.20,263.33,2801140.40,1687155.31,1113985.09
3,Central America and the Caribbean,Panama,Personal Care,Offline,L,5/1/2011,784543836,5/11/2011,2810,81.73,56.67,229661.30,159242.70,70418.60
4,North America,Canada,Fruits,Online,H,11/15/2013,137209212,12/29/2013,2110,9.33,6.92,19686.30,14601.20,5085.10
5,Europe,Italy,Fruits,Offline,C,7/16/2016,148573625,7/18/2016,5092,9.33,6.92,47508.36,35236.64,12271.72
6,Europe,Romania,Beverages,Offline,C,11/15/2012,196810901,12/1/2012,9574,47.45,31.79,454286.30,304357.46,149928.84
7,Australia and Oceania,Australia,Cosmetics,Offline,L,4/30/2019,180407369,5/25/2019,5404,437.20,263.33,2362628.80,1423035.32,939593.48
8,Europe,Bosnia and Herzegovina,Cosmetics,Offline,C,5/29/2016,968161857,6/8/2016,9463,437.20,263.33,4137223.60,2491891.79,1645331.81
9,Asia,Japan,Clothes,Online,M,3/25/2018,349185693,4/8/2018,661,109.28,35.84,72234.08,23690.24,48543.84

Dataset information

In [ ]:
sales_data.info()
sales_data.describe()
# -- check for missing values --
print(sales_data.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   Item Type       object
 3   Sales Channel   object
 4   Order Priority  object
 5   Order Date      object
 6   Order ID        int64
 7   Ship Date       object
 8   Units Sold      int64
 9   Unit Price      float64
 10  Unit Cost       float64
 11  Total Revenue   float64
 12  Total Cost      float64
 13  Total Profit    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 213.6+ MB
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

Dataset processing